@import '../../vars/vars.scss';

.wrapper {
  display: flex;

  .aside {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 100vh;
    background-color: #17212b;

    .aside-header {
      display: flex;
      flex-direction: row;
      padding: 10px;

      .wrapper {
        display: flex;


        .burger-icon {
          display: flex;
          flex-direction: column;
          cursor: pointer;
          padding-right: 12px;

          .burger-item {
            width: 27px;
            height: 2px;
            background-color: #58646e;
            margin: 4px 0px;
          }
        }

        .input-search {
          background-color: $background-color;
          color: #fff;
          padding: 5px 10px;
          width: 295px;
          border-radius: 5px;
        }
      }
    }

    #chats {
      padding: 15px 5px;
      overflow: auto;

      .user {
        display: flex;
        flex-direction: row;
        padding: 5px 0;
        cursor: pointer;

        .avatar {
          margin-right: 15px;

          img {
            width: 40px;
            height: auto;
            border-radius: 22px;
          }
        }

        .name {
          color: $primary-color;
        }
      }
    }
  }
}

